
# Python bytecode
*.pyc

# Weight files
bin/

# Test data
test/*.jpg

# Annotated test results
results/

# Intermediate training data
backup/
tfnet/yolo/parse-history.txt
tfnet/yolo/*.parsed
*.txt
*.pb
/profile
/test.py
